<section class="warehouse-overview">

    <div class="warehouse-panel">

        <div class="warehouse-title">
            Lagerplätze des Artikels
        </div>
        <div id="article-warehouse-list" class="warehouse-list">
            {% if warehouses.item_warehouses %}
                {% for wh in warehouses.item_warehouses %}

                        {{ wh.qty }}x {{ wh.warehouse }} ({{ wh.warehouse_type }})
                {% endfor %}
            {% else %}
                <div class="warehouse-entry">
                    Keine Lagerplätze vorhanden
                </div>
            {% endif %}
        </div>

    </div>


    <div class="warehouse-panel">

        <div class="warehouse-title">
            Leere Lagerplätze
        </div>

        <div id="empty-warehouse-list" class="warehouse-list">
            {% if warehouses.free_warehouses %}
                {% for wh in warehouses.free_warehouses %}
                    {{ wh.warehouse }} ({{ wh.warehouse_type }} / {{ wh.warehouse_size }})<br>
                {% endfor %}
            {% else %}
                <div class="warehouse-entry">
                    Keine Lagerplätze vorhanden
                </div>
            {% endif %}
        </div>

    </div>

</section>
